// Define variables for your color scheme

// For example:
$red: #6B3030;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$medium-gray: #bcc0c9;
$pink: #E7C9C9;
$dark-pink: #C17575;
$turquoise: #CAE7E7;
