<p>Salut <%= @resource.email %>!</p>

<p>On dirait que tu as oublié ton mot de passe... Ne t'inquiète pas, tu peux le changer en cliquant sur le lien suivant <i class="far fa-smile-wink"></i></p>

<p><%= link_to 'Réinitialiser mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si cette demande ne vient pas de toi, tu peux simplement ignorer cet e-mail.</p>
<p>A bientôt j'espère!</p>